footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
    background-color: #333333;
    color: #FFFFFF;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    font-size: 26px;
}

.sub {
    font-size: 14px;
    color: #A4A4A4;
}